{% extends "core/base.html" %}

{% block title %}Disciplinas{% endblock %}

{% block content %}
<h1>Lista de Disciplinas</h1>
<a href="{% url 'disciplina_create' %}">Adicionar Nova Disciplina</a>
<input type="text" id="searchInput" placeholder="Pesquisar...">
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Código</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        {% for disciplina in disciplinas %}
        <tr>
            <td>{{ disciplina.nome }}</td>
            {%for professor in disciplina.professores.all %}
            <td>{{ professor.nome }}</td>
            {% endfor %}
            <td>
                <a href="{% url 'disciplina_update' disciplina.pk %}">Editar</a>
                <a href="{% url 'disciplina_delete' disciplina.pk %}">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
